.header {
  text-align: center;
}

.image {
  width: 300px;
  height: auto;
  padding-bottom: 20px;
  page-break-after: always;
}

.quote {
  margin-left: 40px;
  padding-top: 70px;
  margin-right: 55%;
  text-align: center;
  font-style: italic;
  font-family: cursive;
  font-size: 24px;
  font-weight: 500;
  
}

.web-description {
    margin-left: 40px;
    margin-right: 55%;
    font-size: 24px;
    text-align: center;
    font-weight: 100;
  }
 
 .image {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    page-break-after: always;
  }
  .text {
    margin-left: 30px;
    margin-right: 50%;
  }

.form-box {
  min-width: 100%;
  height: 100vh;
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
}

.cocktails {
  margin-left: 100px;
  margin-top: 80px;
  margin-right: 55%;
}


.form-input {
  width: 20%;
  height: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 15px;
  font-size: 15px;
  margin-block-start: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.form-input2 {
    width: 25%;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 15px;
    font-size: 15px;
    overflow-wrap: break-word;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  }

.submit {
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 15px;
  font-size: 15px;
}
