body {
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://img.freepik.com/free-vector/strawberry-cocktails-clinking-with-beach-sea-palm-leaves-background-breeze-atmosphere_1268-15184.jpg?w=900&t=st=1665067867~exp=1665068467~hmac=ca094f75424e356182596ef11164bd6525d6a542692653e9b53f43d340845790');
  height: 825px;
  background-size:cover;
  background-position: center; 
  background-repeat: no-repeat; 
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}